.content-container-header{
    display: flex;
    justify-content: space-between;
    width:  1320px;
    margin: 0 auto;
}

.content-container{
    width: 1320px;
    margin: 0 auto;
}

.header {
    font-family: inter;
    display: flex;
    height: 80px; 
    background-color: #4B565E;
    color: white;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 1920px;
}

.header-left{
    display: flex;    
    align-items: center;
    gap: 30px;
}

.header-nav{
    display: flex;
    gap: 10px;
}

.header-btn{
    width: 120px;
    height: 47px;
    border: none;
    color: white;
    border-color: #F0BA4E;
    border-style: solid;
    background-color: #4B565E;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    border-width: 1px;
    cursor: pointer;
}

.header-nav-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-tel{
    display: flex;
    margin-left: 40px;
}

.button-empty{
    display: flex;
    align-items: center;
    height: 48px;
    color: white;
    background-color: #4B565E;
    border: solid;
    border-color: #F0BA4E;
    border-width: 2px;
    border-radius: 30px;
    gap: 5px;
    padding: 15px;
}

.header-yellow{
    display: flex;
    align-items: center;
    background-color: #F0BA4E;
    height: 48px;
    width: 1920px;
    justify-content: space-between;
    font-family: inter;
}
.header-left2{
    display: flex;
    align-items: center;
    gap: 4px;
}

.input{
    background-color: #F0BA4E;
    width: 355px;
    border: none;
    background-image: url("/assets/Maskgroup.svg");
    background-repeat: no-repeat;
    background-position: 336px -1px;
    border-bottom: 1px solid #3C3C3B;
  
}

.input::placeholder{
    color: #4B565E99;
}

.location{
    display: flex;    
    align-items: center;
    color: #fff;
}
