<div style="margin: 30px 30px 30px 0;">
    <form class="Form" (ngSubmit)="submitForm()" [formGroup]="form">
        
        <p>ТЕКСТ ЗАДАЧИ</p>
        <input type="text" formControlName="title">
        <div *ngIf="form.controls['title'].invalid && (form.controls['title']).dirty || form.controls['title'].touched"
      class="alert">
            <div *ngIf="form.controls['title'].errors">ТЕКСТ ЗАДАЧИ ВВЕДЕН НЕПРАВИЛЬНО</div>
        </div>
        
        <p>АВТОР ЗАДАЧИ</p>
        <input type="text" formControlName="userId">
        <div *ngIf="form.controls['userId'].invalid && (form.controls['userId']).dirty || form.controls['userId'].touched"
      class="alert">
            <div *ngIf="form.controls['userId'].errors">АВТОР ЗАДАЧИ ВВЕДЕН НЕПРАВИЛЬНО</div>
        </div>
        
        <p>ЗАДАЧА ЗАВЕРШЕНА</p>
        <input type="text" formControlName="completed">
        <div *ngIf="form.controls['completed'].invalid && (form.controls['completed']).dirty || form.controls['completed'].touched"
      class="alert">
            <div *ngIf="form.controls['completed'].errors">СТАТУС МОЖЕТ БЫТЬ "ДА" ИЛИ "НЕТ"</div>
        </div>

        <button class="btn-form" [disabled]="form.invalid">CREATE TODOS</button>
    </form>
</div>