<div style="margin: 30px 30px 30px 0;">
    <form class="Form" (ngSubmit)="submitForm()" [formGroup]="form">
        <mat-form-field>
            <input matInput type="text" formControlName="title">
            <mat-label>ТЕКСТ ЗАДАЧИ</mat-label>
            <mat-error>Пожалуйста, введите <strong>текст задачи</strong> корректно</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" formControlName="userId">
            <mat-label>АВТОР ЗАДАЧИ</mat-label>
            <mat-error>Пожалуйста, введите <strong>автора задачи</strong> корректно</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" formControlName="completed">
            <mat-label>ЗАДАЧА ЗАВЕРШЕНА</mat-label>
            <mat-error>СТАТУС МОЖЕТ БЫТЬ <strong>"ДА"</strong> ИЛИ <strong>"НЕТ"</strong></mat-error>
        </mat-form-field>

        <button mat-button class="btn-form" [disabled]="form.invalid">+ ADD TODO</button>
    </form>
</div>