<footer class="footer">
    <div style="border-bottom: 1px solid #566169;">
        <div class="content-container">
            <div class="footer-top">
                <div class="footer-top-border ">
                    <div class="size-logo-ikon"> 
                        <div>
                            <img src="/assets/ikonka.svg" alt="">
                        </div>
                        <div class="tel-mail-position">
                            <div class="tel-mail-position__block">
                                <img src="/assets/call-calling.svg" alt="">
                                <div class="tel-mail-position__block-data">
                                    <span class="tel-mail-position__text">Контактный телефон</span>
                                    <span class="contact-data-text">+ 7 (812) 309-09-34</span>
                                    <span class="contact-data-text">+ 7 (965) 084-29-09</span>
                                </div>
                            </div>
                            <div class="tel-mail-position__block">
                                <img src="/assets/sms.svg" alt="">
                                <div class="tel-mail-position__block-data">
                                    <span class="tel-mail-position__text">Электронная почта</span>
                                    <span class="contact-data-text dog">tustin78&#64;mail.ru</span>
                                    <span class="contact-data-text dog">info&#64;tustin.ru</span>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>

                <div class="quest-feedback" style=" width: 534px; margin: 0px 600px 0px 0px;">
                    <div class="span-questions-description ">
                        <span class="any-questions-text">Остались вопросы?</span>
                        <span class="description-text">Узнавайте первым о скидках, предложениях и 
                            событиях еженедельно в своем почтовом ящике. 
                            Отпишитесь в любое время одним щелчком мыши.</span>
                    </div>
                    <div class="input-button-container">
                        <input placeholder="Введите свою почту" class="input-your-mail"/>
                        <button type="button" class="send-button">Отправить</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom content-container">
        <div class="footer-bottom-text">
            <span>Главная</span>
            <span>О компании</span>
            <span>Каталог</span>
        </div>

        <div class="footer-bottom2">
            <div class="ikonki-fb-yt-wa">
                <img src="/assets/facebook.svg" alt="">
                <img src="/assets/MiniButton.svg" alt="">
                <img src="/assets/MiniButtonWats.svg" alt="">
            </div>
            <div class="description-text">© 2021-2022, EDE</div>
        </div>
    </div>
</footer>
