.user-form{
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 300px;
    width: 100%;
}

.create-button{
    background-color: #ebe8e8;
    width: 150px;
    margin-top: 20px;
}
