.content-container{
    width: 1320px;
    margin: 0 auto;
}

.user-block{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.create-button{
    background-color: #ebe8e8;
    width: 150px;
    margin-top: 20px;
}