<div class="header">
    <div class="header-left content-container" >
        <div class="header-logo">
            <img src="assets/Frame.svg" alt="logo">
        </div>
        <nav class="header-nav">
            <div class="header-nav-item">Главная</div>
            <div class="header-nav-item">О компании</div>
            <div class="header-nav-item">Каталог</div>
        </nav>
    </div>
    <div class="header-right content-container" style="margin-right: 240px;">
        <div class="header-tel">
            <img src="/assets/Phone.svg" alt="Phone">
            <p>+7 (965) 084-29-29</p>
        </div>
        <img src="/assets/heart 1.svg" alt="">
        <button class="button-empty">
            <img src="/assets/cart.svg" alt="Save icon" class="buy-icon"/>
            Пусто
        </button>
    </div>
</div>

<div class="header-yellow">
    <div class="header-right">
        <img src="/assets/light.svg" alt="">
        <p class="margin-left-catalog">Каталог</p>
        <nav class="header-nav">
            <div class="header-nav-item">Стройматериалы</div>
            <div class="header-nav-item">Инструменты</div>
            <div class="header-nav-item">Электрика</div>
            <div class="header-nav-item">Интерьер и одежда</div>
        </nav>
    </div>
    
    <div class="header-left div-margin-right">
        <div>
            <input placeholder="Поиск, например Круг зачистной" class="input">
        </div>
        <div class="location">
            <img src="/assets/map-pin (2) 1.svg" alt="" style="margin-right: 4px;">
            <p>Москва</p>
        </div>
    </div>
</div>

<img src="/assets/баннер.png" alt="" width= 1920px>

<div class="content-container">
    <div class="advantage-shop" style="margin-bottom: 28px; margin-top: 28px;">
        <div class="advantage-shop__block">
            <img src="/assets/Mask1.svg" alt="">
            <span class="advantage-shop__block-font"> <b>Большой ассортимент</b> <br> строительных материалов всегда в наличии</span>
        </div>
        <div class="advantage-shop__block">
            <img src="/assets/Mask2.svg" alt="">
            <span class="advantage-shop__block-font"><b>Доставка стройматериалов</b> <br> в течении четырех часов или в любое удобное время</span>
        </div>
        <div class="advantage-shop__block">
            <img src="/assets/Mask3.svg" alt="">
            <span class="advantage-shop__block-font">Многоуровневая <b>система управления качеством</b> по стандарту ISO 9001</span>
        </div>
    </div>
    <div class="item-cards">
        <div class="item-cards__pagination">
            <button class="item-cards__pagination-button active-button">1</button>
            <button class="item-cards__pagination-button">2</button>
            <button class="item-cards__pagination-button">3</button>
            <button class="item-cards__pagination-button">4</button>
            <button class="item-cards__pagination-button">5</button>
        </div>
        <div class="item-cards__grid">
            <div class="item-cards__grid-left">
                <div class="item-cards__grid-left-text">Строительный отделочный инструмент</div>
                <div class="item-cards__grid-left-action">
                    <span style="margin-right: 10px;">Перейти в каталог</span>
                    <a class="item-cards__grid-left-action-link">
                        <img src="/assets/Frame20.svg" alt="">
                    </a>
                </div>
            </div>
    
            <div class="item-cards__grid-right">
                <div class="item-cards__grid-right-block  block-enamel">
                
                    <span class="item-cards__grid-right-block-text" style="padding-left: 300px;">Эмали</span>
                    
                    <div class="item-cards__grid-right-action-link-1">
                        <span>Перейти в каталог</span>
                        <a>
                            <img src="/assets/Frame20.svg" alt="">
                        </a>
                    </div>
                </div>

                <div class="item-cards__grid-right-block block-paintwork-material">
                    <span class="item-cards__grid-right-block-text">Лакокрасочные <br> материалы</span>
                    <div class="item-cards__grid-right-action-link-1" style="padding-right: 212px;" >
                        <span>Перейти в каталог</span>
                        <a>
                            <img src="/assets/Frame20.svg" alt="">
                        </a>
                    </div>
                </div>

                <div class="item-cards__grid-right-block foams-adhesives-sealants">
                    <span class="item-cards__grid-right-block-text">Пены, клеи и<br>герметики</span>
                    <div class="item-cards__grid-right-action-link-1" style="padding-right: 212px;" >
                        <span>Перейти в каталог</span>
                        <a>
                            <img src="/assets/Frame20.svg" alt="">
                        </a>
                    </div>
                </div>

                <div class="item-cards__grid-right-block sockets-switches">
                    <span class="item-cards__grid-right-block-text">Розетки и выключатели</span>
                    <div class="item-cards__grid-right-action-link-1" >
                        <span>Перейти в каталог</span>
                        <a>
                            <img src="/assets/Frame20.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
    
        </div>
    </div>

    <div style="margin-bottom: 56px;">
        <div class="popular-products">
            <span class="popular-products-text">Популярные товары</span>
            <a class="popular-products-text-link">Посмотреть все товары</a>
        </div>

        <div class="swipe-products">
            <button class="swipe-products__button-left"></button>
            <button class="swipe-products__button-right"></button>
        </div>

        <div class="grid-cards">
            <div class="grid-cards-item inside-padding">
                <div class="size-card">
                    <div class="sale-favourites">
                        <img src="/assets/Скидки.svg" alt="">
                        <button class="button-favorites"> <img src="/assets/Vector.svg" alt=""></button>
                    </div>
                </div>
                <div class="product-name">
                    <span class="product-name__card">Круг зачистной 125х6х22</span>
                    <span class="product-name__card-article-text">Артикул 00004</span>
                </div>

                <div class="price">
                    <span class="price__per-piece">Цена за штуку</span>
                    <div class="price__text">
                        <span style="text-decoration: line-through;">52 руб.</span>
                        <span>48 руб.</span>
                    </div>
                </div>

                <div class="input-count">
                    <div class="input-count__text">
                        <span class="count-text"><b>Количество</b> </span>
                        <div class="input-group quantity_goods">
                            <button class="number-sign" style="margin-right: 9px;">-</button>
                            <input  value="1" class="value">
                            <button class="number-sign">+</button>
                        </div>
                    </div>

                    <button class="shopping-cart-product">В корзину</button>
                </div>
            </div>
            <div class="grid-cards-item inside-padding">
                <div class="size-card">
                    <div class="sale-favourites">
                        <img src="/assets/Скидки.svg" alt="">
                        <button class="button-favorites"> <img src="/assets/Vector.svg" alt=""></button>
                    </div>
                </div>
                <div class="product-name">
                    <span class="product-name__card">Круг зачистной 125х6х22</span>
                    <span class="product-name__card-article-text">Артикул 00004</span>
                </div>

                <div class="price">
                    <span class="price__per-piece">Цена за штуку</span>
                    <div class="price__text">
                        <span style="text-decoration: line-through;">52 руб.</span>
                        <span>48 руб.</span>
                    </div>
                </div>

                <div class="input-count">
                    <div class="input-count__text">
                        <span class="count-text"><b>Количество</b> </span>
                        <div class="input-group quantity_goods">
                            <button class="number-sign" style="margin-right: 9px;">-</button>
                            <input  value="1" class="value">
                            <button class="number-sign">+</button>
                        </div>
                    </div>

                    <button class="shopping-cart-product">В корзину</button>
                </div>
            </div>
            <div class="grid-cards-item inside-padding">
                <div class="size-card">
                    <div class="sale-new">
                        <img src="/assets/Новинка.png" alt="">
                        <img src="/assets/Скидки.svg" alt="" style="width: 54px;">
                    </div>
                </div>
                <div class="product-name">
                    <span class="product-name__card">Круг зачистной 125х6х22</span>
                    <span class="product-name__card-article-text">Артикул 00004</span>
                </div>

                <div class="price">
                    <span class="price__per-piece">Цена за штуку</span>
                    <div class="price__text">
                        <span style="text-decoration: line-through;">52 руб.</span>
                        <span>48 руб.</span>
                    </div>
                </div>

                <div class="input-count">
                    <div class="input-count__text">
                        <span class="count-text"><b>Количество</b> </span>
                        <div class="input-group quantity_goods">
                            <button class="number-sign" style="margin-right: 9px;">-</button>
                            <input  value="1" class="value">
                            <button class="number-sign">+</button>
                        </div>
                    </div>

                    <button class="shopping-cart-product">В корзину</button>
                </div>
            </div>
            <div class="grid-cards-item inside-padding">
                <div class="size-card">
                    <div class="sale-new">
                        <img src="/assets/Новинка.png" alt="">
                    </div>
                </div>
                <div class="product-name">
                    <span class="product-name__card">Круг зачистной 125х6х22</span>
                    <span class="product-name__card-article-text">Артикул 00004</span>
                </div>

                <div class="price">
                    <span class="price__per-piece">Цена за штуку</span>
                    <span class="price__text">52 руб.</span>
                </div>

                <div class="input-count">
                    <div class="input-count__text">
                        <span class="count-text"><b>Количество</b> </span>
                        <div class="input-group quantity_goods">
                            <button class="number-sign" style="margin-right: 9px;">-</button>
                            <input  value="1" class="value">
                            <button class="number-sign">+</button>
                        </div>
                    </div>

                    <button class="shopping-cart-product">В корзину</button>
                </div>
            </div>
            
        </div>
    </div>

    <div class="block-size">
        <div class="text-description">
            <span class="text-description__h1">Более 10 000 наименований </span>
            <span class="text-description__h2">Инструмент для вашего бизнеса, разнообразных марок</span>

            <a class="catalog-link">Перейти в каталог</a>
        </div>

        <img src="/assets/pngwing1.svg" style="padding-right: 16px;">
    </div>

    <div style="margin-bottom: 48px;">
        <div class="popular-products">
            <span class="popular-products-text">Новинки</span>
            <a class="popular-products-text-link">Посмотреть все товары</a>
        </div>

        <div class="swipe-products">
            <button class="swipe-products__button-left"></button>
            <button class="swipe-products__button-right"></button>
        </div>
        
        <div class="grid-cards">
            <div class="grid-cards-item inside-padding">
                <div class="size-card">
                    <div class="sale-new">
                        <img src="/assets/Новинка.png" alt="">
                    </div>
                </div>
                <div class="product-name">
                    <span class="product-name__card">Круг зачистной 125х6х22</span>
                    <span class="product-name__card-article-text">Артикул 00004</span>
                </div>

                <div class="price">
                    <span class="price__per-piece">Цена за штуку</span>
                    <span class="price__text">52 руб.</span>
                </div>

                <div class="input-count">
                    <div class="input-count__text">
                        <span class="count-text"><b>Количество</b> </span>
                        <div class="input-group quantity_goods">
                            <button class="number-sign" style="margin-right: 9px;">-</button>
                            <input  value="1" class="value">
                            <button class="number-sign">+</button>
                        </div>
                    </div>

                    <button class="shopping-cart-product">В корзину</button>
                </div>
            </div>
            <div class="grid-cards-item inside-padding">
                <div class="size-card">
                    <div class="sale-new">
                        <img src="/assets/Новинка.png" alt="">
                    </div>
                </div>
                <div class="product-name">
                    <span class="product-name__card">Круг зачистной 125х6х22</span>
                    <span class="product-name__card-article-text">Артикул 00004</span>
                </div>

                <div class="price">
                    <span class="price__per-piece">Цена за штуку</span>
                    <span class="price__text">52 руб.</span>
                </div>

                <div class="input-count">
                    <div class="input-count__text">
                        <span class="count-text"><b>Количество</b> </span>
                        <div class="input-group quantity_goods">
                            <button class="number-sign" style="margin-right: 9px;">-</button>
                            <input  value="1" class="value">
                            <button class="number-sign">+</button>
                        </div>
                    </div>

                    <button class="shopping-cart-product">В корзину</button>
                </div>
            </div>
            <div class="grid-cards-item inside-padding">
                <div class="size-card">
                    <div class="sale-new">
                        <img src="/assets/Новинка.png" alt="">
                    </div>
                </div>
                <div class="product-name">
                    <span class="product-name__card">Круг зачистной 125х6х22</span>
                    <span class="product-name__card-article-text">Артикул 00004</span>
                </div>

                <div class="price">
                    <span class="price__per-piece">Цена за штуку</span>
                    <span class="price__text">52 руб.</span>
                </div>

                <div class="input-count">
                    <div class="input-count__text">
                        <span class="count-text"><b>Количество</b> </span>
                        <div class="input-group quantity_goods">
                            <button class="number-sign" style="margin-right: 9px;">-</button>
                            <input  value="1" class="value">
                            <button class="number-sign">+</button>
                        </div>
                    </div>

                    <button class="shopping-cart-product">В корзину</button>
                </div>
            </div>
            <div class="grid-cards-item inside-padding">
                <div class="size-card">
                    <div class="sale-new">
                        <img src="/assets/Новинка.png" alt="">
                    </div>
                </div>
                <div class="product-name">
                    <span class="product-name__card">Круг зачистной 125х6х22</span>
                    <span class="product-name__card-article-text">Артикул 00004</span>
                </div>

                <div class="price">
                    <span class="price__per-piece">Цена за штуку</span>
                    <span class="price__text">52 руб.</span>
                </div>

                <div class="input-count">
                    <div class="input-count__text">
                        <span class="count-text"><b>Количество</b> </span>
                        <div class="input-group quantity_goods">
                            <button class="number-sign" style="margin-right: 9px;">-</button>
                            <input  value="1" class="value">
                            <button class="number-sign">+</button>
                        </div>
                    </div>

                    <button class="shopping-cart-product">В корзину</button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
            <div style="border-bottom: 1px solid #566169;">
                <div class="content-container">
                    <div class="footer-top">
                        <div class="footer-top-border ">
                            <div class="size-logo-ikon"> 
                                <div>
                                    <img src="/assets/ikonka.svg" alt="">
                                </div>
                                <div class="tel-mail-position">
                                    <div class="tel-mail-position__block">
                                        <img src="/assets/call-calling.svg" alt="">
                                        <div class="tel-mail-position__block-data">
                                            <span class="tel-mail-position__text">Контактный телефон</span>
                                            <span class="contact-data-text">+ 7 (812) 309-09-34</span>
                                            <span class="contact-data-text">+ 7 (965) 084-29-09</span>
                                        </div>
                                    </div>
                                    <div class="tel-mail-position__block">
                                        <img src="/assets/sms.svg" alt="">
                                        <div class="tel-mail-position__block-data">
                                            <span class="tel-mail-position__text">Электронная почта</span>
                                            <span class="contact-data-text dog">tustin78&#64;mail.ru</span>
                                            <span class="contact-data-text dog">info&#64;tustin.ru</span>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>

                        <div class="quest-feedback">
                            <div class="span-questions-description">
                                <span class="any-questions-text">Остались вопросы?</span>
                                <span class="description-text">Узнавайте первым о скидках, предложениях и 
                                    событиях еженедельно в своем почтовом ящике. 
                                    Отпишитесь в любое время одним щелчком мыши.</span>
                            </div>
                            <div class="input-button-container">
                                <input placeholder="Введите свою почту" class="input-your-mail"/>
                                <button class="send-button">Отправить</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom content-container">
                <div class="footer-bottom-text">
                    <span>Главная</span>
                    <span>О компании</span>
                    <span>Каталог</span>
                </div>

                <div class="footer-bottom2">
                    <div class="ikonki-fb-yt-wa">
                        <img src="/assets/facebook.svg" alt="">
                        <img src="/assets/MiniButton.svg" alt="">
                        <img src="/assets/MiniButtonWats.svg" alt="">
                    </div>
                    <div class="description-text">© 2021-2022, EDE</div>
                </div>
            </div>
</footer>