.content-container{
    width: 1320px;
    margin: 0 auto;
}

.advantage-shop{
    display: flex;
    justify-content: space-between;
    gap: 28px;

}

.advantage-shop__block{
    max-width: 421px;
    max-height: 72px;
    gap: 16px;
    display: flex;

}

.advantage-shop__block-font{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: left;

}

.item-cards__pagination{
    display: flex;
    justify-content: end;
  

    &-button{
        font-family: inter;
        border: none;
        background: none;
        color: #A1A0A0;
        cursor: pointer;
        display: inline-block;
    }
}

.active-button{
    color: #F0BA4E;
    font-weight: 600;
}

.item-cards__grid{
    display: flex;
    margin-bottom: 56px;
}

.item-cards__grid-left{
    height: 428px;
    width: 421px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    max-height: 428px;
    max-width: 421px;
    background-image: url(/assets/image19.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-y: bottom;
    background-position-x: left; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 16px;
    margin-right: 29px;
}

.item-cards__grid-left-text{
    font-family: inter;
    font-size: 28px;
    color: #3C3C3B;
    font-weight: 600;
}

.item-cards__grid-left-action{
    align-self: end;
    display: flex;
    align-items: center;
    font-family: inter;
    font-size: 14px;
}

.item-cards__grid-left-action-link{
   height: 40px;
   width: 40px;
}

.item-cards__grid-right{
    display: flex;
    flex-wrap: wrap;
    max-height: 428px;
    max-width: 870px;
    gap: 28px;
}

.item-cards__grid-right-block{
    width: 421px;
    height: 200px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    box-sizing: border-box;
}

.item-cards__grid-right-block-text{
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.89px;
    //text-align: left;
    color: #3C3C3B;
    height: 34px;    
}

.block-enamel{
    max-height: 200px;
    max-width: 421px;
    background-image: url(/assets/image14.svg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-y: bottom;
    background-position-x: left; 
    align-self: end;
    display: flex;
    justify-content: end;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
}

.item-cards__grid-right-action-link-1{
    align-self: end;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: inter;
    font-size: 14px;
}

.block-paintwork-material{
    max-height: 200px;
    max-width: 421px;
    background-image: url(/assets/image17.svg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-y: bottom;
    background-position-x: right;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foams-adhesives-sealants{
    max-height: 200px;
    max-width: 421px;
    background-image: url(/assets/image18.svg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-y: bottom;
    background-position-x: right;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sockets-switches{
    max-height: 200px;
    max-width: 421px;
    background-image: url(/assets/image15.svg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-y: bottom;
    background-position-x: left;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.popular-products{
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.swipe-products{
    width: 1412px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.swipe-products__button-left{
    width: 60px;
    height: 60px;
    gap: 10px;
    border-radius: 36px;
    border: none;
    background-image: url(/assets/Polygon1.svg);
    background-repeat: no-repeat;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(305%);
    margin-left: -45px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: 18px 18px;
}

.swipe-products__button-right{
    width: 60px;
    height: 60px;
    gap: 10px;
    border-radius: 36px;
    border: none;
    background-image: url(/assets/Polygon2.svg);
    background-repeat: no-repeat;
    background-position: 25px 17px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateX(2171%);
    margin-top: 180px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
    


.popular-products-text{
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.89px;
    width: 282px;
    height: 34px;
}

.popular-products-text-link{
    width: 218px;
    height: 22px;
    top: 6px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    color: #F0BA4E;
    cursor: pointer;
}

.grid-cards{
    display: flex;
    justify-content: space-between;
}

.grid-cards-item{
    width: 309px;
    height: 429px;
    box-shadow: 0px 20px 50px 0px #12112714;
    box-sizing: border-box;
}

.inside-padding{
    padding: 24px;
}

.size-card{
    width: 261px;
    height: 180px;
    border-radius: 14px 0px 0px 0px;
    background-image: url(/assets/image13.png);
     margin-bottom: 8px;
}
.sale-favourites{
    display: flex;
    justify-content: space-between;
}

.sale-new{
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-self: start;
}

.button-favorites{
    border: none;
    background-color: #fff;
}

.product-name{
    display: flex;
    flex-direction: column;
}
.product-name__card{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    color: #3C3C3B;
    margin-bottom: 8px;
}

.product-name__card-article-text{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color:#3C3C3B;
    
}

.price{
    width: 256px;
    height: 73px;
    padding: 12px 0px 12px 0px;
    gap: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price__per-piece{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: #A1A0A0;
}

.price__text{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    color: #3C3C3B;
    gap: 16px;
}

.input-count{
    width: 261px;
    height: 53px;
    gap: 12px;
    display: flex;
    justify-content: space-between;    
}

.input-count__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.count-text{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: #3C3C3B;
}

.input-group{
    max-width: 61px;
    max-height: 24px;
    display: flex;
    justify-content: space-between;
}

.number-sign{
    width: 8px;
    height: 19px;
    border: none;
    background-color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    align-items: start;    
}
.value{
    width: 10px;
    height: 24px;
    border: none;
    background-color: #fff;
    color: #3C3C3B;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
}

.shopping-cart-product{
    width: 135px;
    height: 47px;
    border: none;
    border-color: #F0BA4E;
    border-style: solid;
    background-color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    padding: 10px 25px;
    border-width: 1px;
    margin: 4px 0;
}

.block-size{
    width: 1320px;
    height: 251px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
}

.text-description{
    display: flex;
    flex-direction: column;
    padding: 28px 28px;
}

.text-description__h1{
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    color: #3C3C3B;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.text-description__h2{
    font-family: Inter;
    font-size: 20px;
    color: #A1A0A0;
    margin-bottom: 99px;
}

.catalog-link{
    font-family: Inter;
    font-size: 18px;
    color: #F0BA4E;
}
