.content-container{
    width: 1320px;
    margin: 0 auto;
}

.item-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.form-block{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
