<h2 mat-dialog-title>{{ isEditMode ? 'Редактировать пользователя' : 'Создать пользователя' }}</h2>
<form class="user-form" [formGroup]="form">
      <mat-form-field>
         <input matInput type="text" formControlName="name" placeholder="Ex. Ivan">
         <mat-label>NAME</mat-label>
         <mat-error>Пожалуйста, введите <strong>имя</strong> корректно</mat-error>
      </mat-form-field>
      
      <mat-form-field>
         <input matInput type="text" formControlName="email" placeholder="Ex. hasan@gmail.com">
         <mat-label>EMAIL</mat-label>
         <mat-error>Пожалуйста, введите <strong>email</strong> корректно</mat-error>
      </mat-form-field>
      
      <mat-form-field>
         <input matInput type="text" formControlName="website" placeholder="Ex. google.com">
         <mat-label>WEBSITE</mat-label>
         <mat-error>Пожалуйста, введите <strong>website</strong> корректно</mat-error>
      </mat-form-field>

      <mat-form-field>
         <input matInput type="text" formControlName="companyName" placeholder="Ex. ООО 'БНАЛ'">
         <mat-label>COMPANY NAME</mat-label>
         <mat-error>Пожалуйста, введите <strong>название компании</strong> корректно</mat-error>
      </mat-form-field>
      <button mat-button (click)="onCancel()">Отмена</button>
      <button mat-raised-button color="primary" [disabled]="form.invalid" [mat-dialog-close]="userWithUpdatedFields">
        {{ isEditMode ? 'Сохранить' : 'Создать' }}
        </button>
</form>